/* Estilo para el AnchorPane */
.anchor-pane {
    -fx-background-color: #1f1f1f; /* Color de fondo del AnchorPane */
}

/* Estilo para TextField y PasswordField */
.text-field, .password-field, .combo-box {
    -fx-background-color: #333333; /* Color de fondo */
    -fx-text-fill: #ffffff; /* Color del texto */
    -fx-prompt-text-fill: #aaaaaa; /* Color del texto de sugerencia */
    -fx-border-color: #666666; /* Color del borde */
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 10 5 10; /* Espaciado interno */
    -fx-font-size: 14px; /* Tamaño de la fuente */
}

/* Efecto al pasar el ratón sobre el TextField, PasswordField y ComboBox */
.text-field:hover, .password-field:hover, .combo-box:hover {
    -fx-background-color: #bd0000; /* Color de fondo al pasar el ratón */
}

/* Efecto al hacer foco en el TextField, PasswordField y ComboBox */
.text-field:focused, .password-field:focused, .combo-box:focused {
    -fx-border-color: #5f97ff; /* Color del borde al hacer foco */
    -fx-background-color: #555555; /* Color de fondo al hacer foco */
}

/* Estilo para los botones */
.button {
    -fx-background-color: #531516; /* Color de fondo del botón */
    -fx-background-radius: 20; /* Radio del borde redondeado */
    -fx-border-radius: 20; /* Borde redondeado */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-font-family: "Arial Black"; /* Fuente Arial Black */
    -fx-cursor: hand; /* Cambia el cursor al pasar sobre el botón */
    -fx-padding: 8 15 8 15; /* Espaciado interno del botón */
}

.button:hover {
    -fx-background-color: #8f0a0b; /* Color de fondo al pasar el ratón */
}

.button:pressed {
    -fx-background-color: #3a6ab8; /* Color de fondo al presionar el botón */
}

/* Estilo para las imágenes */
.image-view {
    -fx-background-radius: 20; /* Radio del borde redondeado */
    -fx-border-radius: 20; /* Borde redondeado */
    -fx-padding: 5; /* Espaciado interno */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Sombra */
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.toggle-button:selected {
    -fx-background-color: #6c0606;
    -fx-border-color: #c02a2a;
    -fx-text-fill: black;
}

.toggle-button:hover {
    -fx-background-color: #770568;
}

.toggle-button:pressed {
    -fx-background-color: #ff0000;
    -fx-border-color: #ff0000;
    -fx-text-fill: white;
}

.toggle-button .graphic {
    -fx-background-color: transparent;
}

/* Estilos específicos para los estados de las butacas */
.butaca-libre {
    -fx-background-color: green;
}

.butaca-ocupada {
    -fx-background-color: blue;
}

.butaca-fuera-de-servicio {
    -fx-background-color: gray;
}
